body {
	margin:0px;
	padding:0px;
	font-family: Sans-Serif;
	line-height: 1.5em;
}
			
#header {
	background: #ccc;
	height: 100px;

}
			
#header h1 {
	margin: 0;
	padding-top: 15px;
	text-align: center;
}

#footer {
	clear: left;
	width: 100%;
	background: #ccc;
	text-align: center;
	padding: 4px 0;
}

.innertube {
	margin: 15px; /* Padding for content */
	margin-top: 0;
}


.clearfix {
	text-align: center;
}

.clearfix:after {
    content: "";
    display: table;
    
}


.nav-wrapper {
    width:100%;
    background: #999;
    text-align: center; /* aligns menu to center of screen */
}
     
.nav-menu {
    position: relative;
    display: inline-block;
}
     
.nav-menu li {  /* adjust properties of menu position */
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #bbb;
}

.nav-menu li a {  /* adjust properties of menu text */
	text-decoration: none;
	color: green;
	font-size: 1.4em;
}
     
.sub-menu {
    position: absolute;
    display:none; /* hides submenu until hover switches it */
    background: #999;
    opacity: .9;
    padding: 0px;
    text-align: center;
    width: 50%;  /* If too large, text will wrap onto the same line */
    line-height: 2em;
    }

.nav-menu li:hover {
	background: dimgrey;
	width: auto;
}

.nav-menu li:hover a { 
	color: darkgreen;
}

.nav-menu ul li:hover > ul { /* targets sub menu on hover */
   display: inline-table; /* try inline-table */
   width: auto;

}

.nav-menu ul li:hover > ul li:hover {/* targets sub menu items on hover */
	background: #297;
	width: 100%;
	padding: 0px;
}

.nav-menu ul li:hover > ul li a {/* targets sub menu items text on hover */
	color: darkblue;
	font-weight: normal;
	font-size: 1em;
}

.nav-menu ul li:hover > ul li a:hover {/* targets sub menu items text on hover */
	font-weight: bold;
}

