/*
Color List:
- light blue = 00AEEF;
- dark blue = 1C75BC
- green = 8DC63F
- dark green = 009444
- orange = F7941E
- dark orange = F15A29
- brown = 594a42;
- 1
*/

/***************************
****************************
Reset
****************************
***************************/
@import 'normalize.css';

/* Change all elements to use border-box */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/***************************
****************************
Base Styles
****************************
***************************/


/***************************
****************************
Layout Styles
****************************
***************************/
/* body background */
body {
  background-image: url("../images/madoka_hug.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Sans-Serif; /* Maybe Times*/
}

/* Content Container*/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


/* Row Causing edge problems
.row {
  margin-right: -15px;
  margin-left: -15px;
}
*/
/* Row Clear Float*/
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Media Query excludes extra small devices and includes small and above */
[class*='col-'] {
  width: 100%;
  /* Padding already in container
  padding-left: 15px;
  padding-right: 15px;
  */
}

@media (min-width: 48em) {
  [class*='col-'] {
    float: left;
  }
  /* Column Two Thirds */
  .col-2-3 {
    width: 66.6666%;
  }
  /* Column Third */
  .col-1-3 {
    width: 33.3333%;
  }

  .col-1-2 {
    width: 50%;
  }

  .col-1-10 {
    width: auto;
    padding: 0px;
  }
}

@media (min-width: 48em) {
  .pull-right-sm {
    float:right;
  }
}



/***************************
****************************
Modules
****************************
***************************/
/* Header Module */
.header-primary {
  
  text-align: center;
  padding-top: 18px;
  /*
  background: #9B8579;
  padding-bottom: 18px;
  */
}


/* Navigation Modules */



/* button Modules */
.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  border: 1px solid transparent;
  cursor: pointer;
  text-decoration: none;
  color: #d22da9;

  /*
  vertical-align: middle;
  background-image: none;
  */

  padding: 12px 30px;
  font-size: 1em;
  border-radius: 4px;
  transition: all 0.5s ease 0s;
}

.btn-nav {
  margin: 0px;
  border-radius: 0px;
  border: none;
  border-bottom: 10px solid #d22da9;
}

.active {
  font-weight: bold;
}

.btn-nav:hover {
  color: violet;
  border-bottom: 10px solid violet;
}

.btn-primary {
  background: #8DC63F;
  border-color: #8DC63F;
  color: white;
}

.btn-primary:hover {
  background: none;
  border-color: white;
  text-decoration: none;
}

.btn-hero {
  font-size: 1.750em;
  background: none;
  border-color: white;
  color: white;
}

.btn-hero:hover {
  color: #39B54A;
  background-color: white;
}

.hero {
  text-align:center;
}

.hero-primary {
  /*
  background-color: #594a42;
  color: white;
  */
  padding-top: 25px;
  padding-bottom: 25px;
}

/*
.hero-body {
    position: relative;
}
*/

.hero-title {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 2.625em;
}
.hero-subtitle {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 1.500em;
    font-weight: normal;
}

.hero-subtitle + button {
    margin-top: 25px;
}

.content {
  background: rgba(51,51,51,.9);
  color: white;
  padding: 1em;
  margin-left: 10%;
  margin-right: 10%;
  height: auto;
}

.content ol {
  color: violet;
}

.content li {
  color: lightgreen;
}


@media (min-width: 48em) {
  .btn-primary { 
      font-size: 1.125em;
  }

  .btn-nav {

  }

  .btn-hero {

  }
}

article {
  background: white;
  margin: 3ex;
  padding: 1ex;
  padding-top: 0.1ex;
}



/***************************
****************************
Vido Player
****************************
***************************/
#mainplayer {
  height: 360px;
  width: 600px;
  display: block;
    margin-left: auto;
    margin-right: auto; 
}


/* Background Modules */


/***************************
****************************
Theme Styles
****************************
***************************/
.background-primary {
  background: #F7941E;
}
.background-secondary {
  background: #00AEEF;
}
.background-tertiary {
  background: #8DC63F;
}
.background-quaternary {
  background: #594a42;
}
.background-quinary {
    background: #e7e1d7;
}


/*

Code to Trash, superfluous

.logo {
  overflow: hidden;
  display: inline-block;
}

.logo-primary {
  width: 64px;
  height: 64px;
}

.logo-primary img {
  height: 100%;
}
*/
/*
.nav > ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
  text-align: left;

}

.nav > li {
  list-style-type: none;
  display: inline-block;
}

.nav-primary {
  margin-top: 35px;
}

.hero-primary.bg-image > img {
    opacity: 0.55;
}

.bg-image {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.bg-image > img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  min-width: 100%;
}


*/