/***************************
****************************
Reset Styles
****************************
***************************/
@import 'normalize.css'

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/***************************
****************************
Base Styles
****************************
***************************/
body {
    color: #414042;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

h1, h2, h3 {
    font-weight: bold;
}

a {
    color: #8dc63f;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/***************************
****************************
Layout Styles
****************************
***************************/
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1170px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


[class*='col-'] {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

/* Media Query excludes extra small devices and includes small and above */
@media (min-width: 48em) {
	[class*='col-'] {
		float: left;
	}
	/* Column Third */
	.col-1-3 {
    width: 30.3333%;
	}
	/* Column Two Thirds */
	.col-2-3 {
    width: 66.6666%;
	}
	.col-1-2 {
    width: 40.999%;
	}
	.col-1-6 {
    width: 14%;
    min-height: 1px;
	}
}

@media (min-width: 48em) {
	.pull-right-sm {
    float:right;
}
}



/***************************
****************************
Module Styles
****************************
***************************/


/***************************
****************************
Theme Styles
****************************
***************************/
.background-primary {
	background: #F7941E; /*Orange*/
}
.background-secondary {
	background: #00AEEF; /*Blue*/
}
.background-tertiary {
	background: #8DC63F; /*Green*/
}